.add-task-modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  z-index: 12;
}

.modal-window {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1.2;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  background-color: #000000b9;
  box-shadow: 0 0 3.4rem 2.6rem rgba(0, 0, 0, 0.418);
  border: 1px solid #f770277a;
  border-radius: 4px;

  color: var(--text-color);

  /* backdrop-filter: blur(10px); */
}

/* .modal-window.hidden {
  transform: translateY(1rem);
} */

.modal-title {
  background-color: #f770277a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modal-title-heading {
  padding: 1rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.modal-menu {
  padding: 2rem 4rem 3rem;
}

.day-full-message {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--text-color);
}

.error-menu {
  text-align: center;
}

.error-msg {
  color: red;
  font-size: 2rem;
  font-style: italic;
  margin-top: -2.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.8rem;
}

.duration {
  margin-bottom: 1.6rem;
}

.input {
  padding: 0.6rem 0.3rem;
  height: 3.6rem;
  border: 1px solid #79757591;
  box-shadow: inset 0 0.15rem 0.1rem #f770273d;
  border-radius: 4px;
  background-color: #1d1d1d;
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: 1;
}

.input:focus {
  outline: none;
  border: 1px solid #94939393;
  background-color: #0e0e0e;
  box-shadow: inset 0 0.15rem 0.1rem #f7702763;
}

.description-input {
  padding: 0.6rem;
  border-radius: 4px;
  background-color: #1d1d1d;
  border: 1px solid #79757591;
  box-shadow: inset 0 0.15rem 0.1rem #f770273d;
  color: var(--text-color);
  font-size: 1.8rem;
  font-family: inherit;
  resize: none;
  letter-spacing: 1;
}

.description-input:focus {
  outline: none;
  background-color: #0e0e0e;
  border: 1px solid #94939393;
  box-shadow: inset 0 0.15rem 0.1rem #f7702763;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.226);
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px);
  z-index: 1;
  transition: 0.2s;
}
/* 
.display-none {
  display: none;
} */

.hidden {
  opacity: 0;
  z-index: -1;
}
