.add-task-modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  z-index: 2;
}

.modal-window {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1.2;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  background-color: #000000b9;
  box-shadow: 0 0 3.4rem 2.6rem rgba(0, 0, 0, 0.418);
  border: 1px solid #f770277a;
  border-radius: 4px;

  color: #dadada;

  /* backdrop-filter: blur(10px); */
}

/* .modal-window.hidden {
  transform: translateY(1rem);
} */

.modal-title {
  background-color: #f770277a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modal-title-heading {
  padding: 2.6rem;
  font-size: 2.4rem;
}

.modal-menu {
  padding: 3rem 4rem;
}

.day-full-message {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 400;
  color: #dadada;
}

.error-menu {
  text-align: center;
}

.error-msg {
  color: red;
  font-size: 2rem;
  font-style: italic;
  margin-top: -2.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
}

.duration {
  margin-bottom: 2.4rem;
}

.btn-modal {
  width: 100%;
  padding: 1.6rem;
  background: linear-gradient(to bottom, var(--myColor1), var(--myColor2));
  text-shadow: 1px 1px 2px rgba(136, 136, 136, 0.281);
  color: rgb(218, 218, 218);
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.8rem;
  position: relative;
  border: 1px solid #f77027;
  transition: 0.1s;
}

.btn-modal:link,
.btn-modal:visited {
  text-decoration: none;
}

.btn-modal:hover {
  --myColor1: #1b1b1b;
  color: #f77027;
  cursor: pointer;
  box-shadow: 0 0 0.7rem 0.2rem #f770277a;
}

.btn-modal:active {
  --myColor1: #111111;
  color: #f35c0b;
  box-shadow: 0 0 0.2rem 0.1rem #f770277a;
}

.delete-btn {
  background-color: rgb(163, 0, 0);
  color: rgb(255, 230, 0);
}

.delete-btn:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

.input {
  padding: 0.6rem;
  height: 4rem;
  border: 1px solid #79757591;
  box-shadow: inset 0.2rem 0.2rem 0.1rem #f770273d;
  border-radius: 4px;
  background-color: #1d1d1d;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 1;
}

.input:focus {
  outline: none;
  border: 1px solid #94939393;
  background-color: #0e0e0e;
  box-shadow: inset 0.2rem 0.2rem 0.1rem #f7702763;
}

.description-input {
  padding: 0.6rem;
  border-radius: 4px;
  background-color: #1d1d1d;
  border: 1px solid #79757591;
  box-shadow: inset 0.2rem 0.2rem 0.1rem #f770273d;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: inherit;
  resize: none;
  letter-spacing: 1;
}

.description-input:focus {
  outline: none;
  background-color: #0e0e0e;
  border: 1px solid #94939393;
  box-shadow: inset 0.2rem 0.2rem 0.1rem #f7702763;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.226);
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px);
  z-index: 1;
  transition: 0.2s;
}
/* 
.display-none {
  display: none;
} */

.hidden {
  opacity: 0;
  z-index: -1;
}

.close-modal {
  position: absolute;
  right: 1rem;
  width: 3rem;
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(2598%) hue-rotate(191deg)
    brightness(94%) contrast(80%);
}

.close-modal:hover {
  filter: invert(46%) sepia(81%) saturate(1874%) hue-rotate(346deg)
    brightness(106%) contrast(94%);
}
