.completed-tasks-list {
  position: absolute;
  min-width: 40%;
  z-index: 2;
}

.completed-task-li {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  font-size: 1.8rem;
}

.completed-task-li em {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 1.4rem;
  color: #dadadaaf;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
