.help-heading {
  font-size: 2.4rem;
  font-family: "Roboto Condensed", sans-serif;
  line-break: 1.4;
  text-align: center;
}

.help-modal-window {
  z-index: 2;
  width: 60rem;
}

.help-modal {
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 95vh;
  background-color: #000000b9;
  box-shadow: 0 0 3.4rem 2.6rem rgba(0, 0, 0, 0.418);
  border: 1px solid #f770277a;
  border-radius: 4px;

  color: #dadada;
}

.help-message {
  color: #dadada;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.help-message strong {
  margin-top: 1.4rem;
}

.help-ok-btn {
  width: 30rem !important;
  align-self: center;
}

.help-description:last-child {
  margin-top: 2.4rem;
  margin-bottom: 3rem;
}
