/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
@import "navigation.css";
@import "calendar.css";
@import "addTaskModal.css";
@import "footer.css";
@import "taskDetails.css";
@import "helpModal.css";
@import "completedTasksView.css";
@import "configModal.css";
@import "buttons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #dadada;
  --hover-orange: #f77027;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 62.5%;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////// main app /////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

.icon {
  width: 3rem;
  filter: invert(46%) sepia(81%) saturate(1874%) hue-rotate(346deg)
    brightness(106%) contrast(94%);
}

.app {
  background-image: linear-gradient(
      160deg,
      rgba(85, 45, 20, 0.877) 0%,
      rgba(23, 23, 36, 0.904) 51%,
      rgba(65, 22, 78, 0.808) 100%
    ),
    url("../img/background.webp");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
}
