/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@property --myColor1 {
  syntax: "<color>";
  initial-value: #1f1f1f;
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: #000000;
  inherits: false;
}

.nav-color {
  background: linear-gradient(to bottom, var(--myColor1), var(--myColor2));
  text-shadow: 1px 1px 2px rgba(136, 136, 136, 0.281);
  color: rgb(218, 218, 218);
}

.main-nav {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  overflow: hidden;
  height: 7.4rem;
  box-shadow: 0 0 6rem 0.2rem rgba(255, 255, 255, 0.151);
}

.title-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title {
  font-weight: 400;
  font-size: 3rem;
}

.config-container {
  display: flex;
  align-items: center;
  /* gap: 2rem; */
}

.nav-item:last-child {
  margin-left: 2rem;
}

.big-nav-btn {
  font-family: inherit;
  height: 100%;
  border: none;
  font-size: 2rem;
  padding: 0 2rem;
  position: relative;
  color: rgb(218, 218, 218);
  transition: --myColor1 0.4s, --myColor2 0.4s;
  box-shadow: 0px 0rem 0.5rem rgba(240, 240, 240, 0.616);
}

.big-nav-btn:hover {
  --myColor2: #f7702780;

  cursor: pointer;
}

.config-icon:hover {
  cursor: pointer;
}

.config-icon {
  position: relative;
  color: #130808c4;
  transition: transform 0.4s;
}

.config-icon:hover {
  transform: rotate(45deg);
}
