.task-info {
  width: 30rem;
  color: var(--text-color);
  transition: 0.4s;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.863);
  box-shadow: 0 0 2.4rem 0.6rem rgba(0, 0, 0, 0.671);
  border: 1px solid #f770277a;
  border-radius: 4px;
  z-index: 4;
}

.task-info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
}

.modal-title.expanded-task {
  background-color: #d85006a8;

  margin-bottom: 2rem;
}

.animation-fix {
  transition: all 0.01s !important;
}

.date-created {
  font-size: 1.4rem;
  padding: 0.2rem 0.4rem;
  font-style: italic;
  color: #dadadaa8;
  /* background-color: #ff7b3356; */
  /* border-radius: 4px; */
}

.modal-description {
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
}

.expanded-task .close-modal {
  top: 1rem;
}

.update-task-window {
  background-color: black;
}
